### Backend ###
tests.json
# Python
__pycache__/
env/
venv/
# Packaging
*.spec
build/

### Frontend ###
# Node
client/node_modules/
client/package-lock.json
# Rollup
client/*.map

### VisualStudioCode ###
.vscode/
.vscode/*
*.code-workspace

### PyCharm ###
/.idea/
